table.sortable{

	span.arrow {
		border-style: solid;
		border-width: 5px;
		display: block;
		position: absolute;
		top: 50%;
		right: 5px;
		font-size: 0;
		border-color: #ccc transparent transparent transparent;
		line-height: 0;
		height: 0;
		width: 0;
		margin-top: -2px;

		&.up{
			border-color: transparent transparent #ccc transparent;
			margin-top: -7px;
		}
	}

	thead th {
		cursor: pointer;
		position: relative;
		top: 0;
		left: 0;

		&:hover:not([data-defaultsort=disabled]) {
			background: #efefef;
		}

		div.mozilla {
			position: relative;
		}
	}
}