@import "screen";
@import "_media-queries";
@import "_mixins";
@import "_functions";
@import "_variables";
@import "_classes";
@import "_auth";
@import "_cms";


.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center text-align center,
.left {
  float: left;
}
.right {
  float: right;
}
body {
  background: url("/img/light_wool.png");

	div.container {
	  background: #f7f6f5;

		header {
			background: #343434;
			border-top: 6px solid #e64d2c;
			padding-bottom: 15px;
			-webkit-box-shadow: 3px 3px 3px #343434;
			-moz-box-shadow: 3px 3px 3px #343434;
			-ms-box-shadow: 3px 3px 3px #343434;
			-o-box-shadow: 3px 3px 3px #343434;
			box-shadow: 3px 3px 3px #343434;

			a img {
		  		width: 400px;
			}

			span.sub-title {
				color: #fff;
				font-size: 20px;
				margin-left: 15px;
				position: relative;
				top: 26px;
			}
		}

		section.content {
			min-height: 200px;
			background: #fff;
			-webkit-box-shadow: 3px 3px 3px #eaeaea;
			-moz-box-shadow: 3px 3px 3px #eaeaea;
			-ms-box-shadow: 3px 3px 3px #eaeaea;
			-o-box-shadow: 3px 3px 3px #eaeaea;
			box-shadow: 3px 3px 3px #eaeaea;
			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			-ms-border-radius: 0 0 3px 3px;
			-o-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			padding: 50px;
		}

		footer {
		  height: 60px;

			div.info span {
				display: block;
				margin-top: 10px;
				font-size: 10px;
				line-height: 8px;
				color: #aea79f;

				a {
					color: #000;
					margin-left: 5px;
				}
			}

			.logo img {
				margin-top: 10px;
				width: 200px;
			}
		}
	}
}

// body{
// 	background:#fff;
// 	color:#000;

// 	> .navbar-wrapper{
// 		position: absolute;
// 		top:0;
// 		left:0;
// 		right:0;
// 		z-index: 11;

// 		.navbar-account-info{
// 			float:right;
// 			clear:right;
// 			span{
// 				line-height:20px;
// 				color: white;
// 			}
// 		}

// 		.navbar-form{
// 			input[type=text], input[type=password]{
// 				width:180px;
// 			}
// 		}
// 	}

// 	> .masthead{
// 		position: relative;
// 		margin-bottom: 20px;
// 		padding: 30px 15px;
// 		text-align: center;
// 		h1{
// 			font-size:50px;
// 			line-height:1;
// 		}

// 		.social{
// 			margin-top:80px;
// 		}

// 		.btn{
// 			margin-top:5px 0;
// 			padding:18px 24px;
// 			font-size:21px;
// 			color:#fff;
// 		}
// 	}

// 	.carousel{

// 		.item{
// 			> img{
// 				height:500px;
// 				width:100%;
// 			}

// 			height:500px;
// 			background: url('/img/lifestyles/truck.jpg') top center no-repeat;
// 			background-position: 0;
// 			border-bottom: 1px solid rgba(0,0,0,0.2);
// 			-webkit-background-size: cover;
// 			-moz-background-size: cover;
// 			-o-background-size: cover;
// 			background-size: cover;
// 		}

// 		.lookup{

// 			margin: auto 15px;
// 			background: #c8c8c8;
// 			background: rgba(200, 200, 200, 0.9);
// 			border-radius: 6px;
// 			padding: 20px;
// 			z-index: 2;
// 			position: absolute;
// 			top: 113px;
// 			width: 77%;
// 			left: 10%;

// 			select{
// 				display:inline-block;
// 				width:250px;
// 				margin-bottom:10px;
// 				@include transition(all 0.3s ease-in-out);

// 				&:disabled{
// 					opacity:0.5;
// 				}
// 				option{
// 					text-align:center;   
// 				}
// 				.submodel, .config{
// 					display:none;
// 				}
// 			}
// 			div{
// 				display:inline-block;
// 			}

// 			img.hide{
// 				width: 20px;
// 				float: left;
// 				clear: right;
// 				margin: 5px;
// 			}

// 			input{
// 				display:inline-block;
// 				border-color: rgb(221, 79, 49);
// 			}
// 			a.reset{
// 				margin-left:10px;
// 				color:black(0.6);
// 			}
// 		}
// 	}

// 	// > .navbar{ 
// 	// 	.brand > img{
// 	// 		width: 200px;
// 	// 	}
// 	// 	.nav-collapse{
// 	// 		margin-top:12px;
// 	// 	}
// 	// 	.btn-navbar{
// 	// 		margin-top: 17px;
// 	// 	}
// 	// 	.navbar-social{
// 	// 		display:block;
// 	// 		margin-top:10px;
// 	// 		img{
// 	// 			width: 25px;
// 	// 			opacity:0.8;
// 	// 			@include transition(all 0.3s ease-in-out);
// 	// 			&:hover{
// 	// 				opacity:1.0;
// 	// 				@include transform(translateY(-4px));
// 	// 				@include transform-origin(center top);
// 	// 				@include transform-style(preserve-3d);
// 	// 			}
// 	// 		}
// 	// 	}
// 	// }

// 	.side-nav{
// 		.collapsable{

// 		}
// 	}

// 	/* Jumbotrons
// 	-------------------------------------------------- */

// 	Base class
// 	-------------------------
// 	.jumbotron {
// 		position: relative;
// 		padding: 40px 0;
// 		color: #fff;
// 		text-align: center;
// 		text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
// 		background: #020031;

// 		.container{
// 			position:relative;
// 			z-index: 3;
// 			margin:auto;

// 			.jumbo_text{
// 				width: 60%;
// 				float:left;

// 				h1{
// 					font-size: 80px;
// 					font-weight: bold;
// 					letter-spacing: -1px;
// 					line-height: 1;
// 				}
// 				p{
// 					font-size: 24px;
// 					font-weight: 300;
// 					line-height: 1.25;
// 					margin-bottom: 30px;
// 				}
// 				a {
// 					color: #fff;
// 					color: rgba(255,255,255,.5);
// 					-webkit-transition: all .2s ease-in-out;
// 					-moz-transition: all .2s ease-in-out;
// 					transition: all .2s ease-in-out;
	
// 					&.btn{
// 						color:#fff;
// 						margin-left: 10px;
// 						&:hover{
// 							text-decoration:none;
// 						}
// 					}
	
// 					&:hover{
// 						color:#fff;
// 						text-shadow: 0 0 10px rgba(255,255,255,0.25);
// 					}
// 				}
// 			}

// 			.lookup{
// 				float:left;
// 				width: 30%;
// 				margin: 3.67em 15px;
// 				background:rgb(238,238,238);
// 				background:rgba(238,238,238,0.6);
// 				border-radius:(6px);
// 				padding:20px;

// 				select{
// 					float:left;
// 					width:250px;
// 					margin-bottom:10px;
// 					@include transition(all 0.3s ease-in-out);

// 					&:disabled{
// 						opacity:0.5;
// 					}
// 					option{
// 						text-align:center;   
// 					}
// 					.submodel, .config{
// 						display:none;
// 					}
// 				}

// 				img.hide{
// 					width: 20px;
// 					float: left;
// 					clear: right;
// 					margin: 5px;
// 				}

// 				input{
// 					display:inline-block;
// 				}
// 				a.reset{
// 					margin-left:10px;
// 					color:black(0.6);
// 				}
// 			}
// 		}
// 	}

// 	.subhead{
// 		text-align:left;
// 		border-bottom: 1px solid #ddd;
// 		h1, .lead{
// 			margin-right:80px;
// 		}
// 		p{
// 			margin-bottom:20px;
// 		}
// 	}

// 	ul.side-nav.no-collapse{

// 		width: 195px;
// 		margin:0;
// 		padding:0;
// 		background-color:#fff;
// 		border-radius:6px;
// 		@include box-shadow(rgba(0,0,0,0.065) 0 1px 4px);

// 		> li a{
// 			font-size:90%;
// 			display: block;
// 			width:190px \9;
// 			margin:0 0 -1px;
// 			padding: 8px 14px;
// 			border:1px solid $border-color;
// 		}
// 		> li:first-child a{
// 			@include border-top-radius(6px);
// 		}
// 		> li:last-child a{
// 			@include border-bottom-radius(6px);
// 		}
// 		.icon-chevron-right{
// 			float:right;
// 			margin-top:2px;
// 			margin-right:-6px;
// 			opacity: 0.25;
// 		}
// 	}

// 	ul.side-nav.collapsable{

// 	}

// 	footer{
// 		min-height:400px;
// 		margin-top:75px;
// 		background:rgb(34, 34, 34);
// 		color:white;
// 	}
// }

@include min-screen(768px){
	body{
	}
}
